.product {
  position: relative;
  border: 1px solid rgb(209, 209, 209);
  padding: 8px 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-img {
  width: 100%;
  height: 320px;
  border-radius: 8px 8px 0 0;
}
.add-to-cart {
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-div {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .product {
    height: 550px;
  }
}
@media (min-width: 700px) and (max-width: 870px) {
  .product {
    height: 550px;
  }
}
